[Unit]
Description=online json diff service

[Service]
ExecStart=/usr/local/bin/npm start
Restart=always
WorkingDirectory=/opt/tiger/sre/online-json-diff
KillMode=control-group
KillSignal=INT

[Install]
WantedBy=default.target
